go 1.24

use (
    ./shared
    ./services/api-gateway
    ./services/auth-service
    ./services/user-service
    ./services/catalog-service
    ./services/playlist-service
    ./services/library-service
    ./services/playback-service
    ./services/media-service
    ./services/events-service
    ./services/search-service
    ./services/recommendation-service
)
